####
#  note for now ignore Gemfile and Gemfile.lock
#    regenerate for each platfrom e.g. linux/mac/windows etc.

Gemfile
Gemfile.lock


###
# ignore database and output folders

*.db
o/
build/
